DocX.xcodeproj/xcuserdata/mbertz.xcuserdatad
.swiftpm/xcode/xcuserdata
DocX-Examples/DocX-Examples.xcodeproj/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
DocX-Examples.xcworkspace/xcuserdata
DocX.xcodeproj/project.xcworkspace/xcuserdata
DocX.xcodeproj/xcuserdata
Package.resolved
